# IPython Notebook for experimenting
*.ipynb
.ipynb_checkpoints

# Cache
**/__pycache__

# Build
*.egg-info

# Checkpoints
**/checkpoint
*.ckpt*

# Data
data

# Archived files
train_orig.py

# Logs
smile.log
